@page 
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
 <a href="/Index"><img alt="Hem" src="/img/morsan_small.png" width="300"></a>

<div class="container text-center">
  <!-- table headers -->
  <table class="table">
    <thead>
      <tr>
        <th display="none">Id</th>
        <th>Namn</th>
        <th>Skicka SMS</th>
        <th>Födelsedag</th>
        <th>Mors-O-Meter</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

<!-- print persons from list -->
    <tbody>
@foreach (var item in @Model.myPersons)
{
  string barColor = "bg-success";
  
  <!-- change color på progress bar -->
  int counter = Convert.ToInt32(@item.initialDays);
  @if(counter < 0)
      {
        barColor = "bg-danger";
      }
  else if (counter < 3)
      {
        barColor = "bg-warning";
      }
        <tr>
        <td display="none">@item.Id</td>
        <td>@item.name</td>
        <td><button type="button" class="btn btn-info">@item.Phone</button></td>
        <td>@item.Birthday</td>
        <td class=@barColor><h5>@item.initialDays</h5></td>
        <td><button onclick="myFunction()" type="button" class="btn btn-info">Ändra</button></td>
        <td><button onclick="myFunction()" type="button" class="btn btn-danger">X</button></td>
        </tr>
}
    </tbody>
  </table>
</div>
